body { padding-top: 70px; }


#box {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: 100%;
}

.tile {
  width: 15px;
  height: 15px;
  border: 1px solid white;
  background-color: black;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  width: 14%
}
